@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  /* background-color: #e3f2fd; */
}

/* nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
} */

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  color: white;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-content {
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 8px;
  /* background-color: red; */
  text-decoration: none;
}

.nav-link:hover {
  background-color: #4070f4;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  /* color: #707070; */
  color: white;
}

.nav-link .link {
  font-size: 16px;
  /* color: #707070;  */
  color: white;
  font-weight: 400;
}

.nav-link:hover .icon,
.nav-link:hover .link {
  color: #fff;
}

.container {
  width: 800px;
  margin: 70px auto;
  margin-left: 360px;
}

.container2 {
  width: 800px;
  margin: 90px auto;
  margin-left: 280px;
}
